<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.PRG3AirPollutionMonitor">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Letstryagain"
        tools:targetApi="31">
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.overdose_popup"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.PrescriptionDetails"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.UsageCalendar"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.CALWeekView"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.CALEditEvent"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.LiveAirPollution"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.InhalerMenu"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.Emergency"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.AirQuality"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.AirQualityPlot"
            android:exported="false" />
        <activity
            android:name="com.example.PRG3AirPollutionMonitor.MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>